//	reset / base styles

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3em;
  list-style-type: none;
}

html,
body {
  // background: #060606;
  scroll-behavior: smooth;
}

//gsap
body {
  margin: 0;
  padding: 0;
}

.panels {
  height: 300vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.panel {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  &:nth-child(1) {
    background-color: #3498db;
  }
  &:nth-child(2) {
    background-color: #757575;
  }
  &:nth-child(3) {
    background-color: #a728a7;
  }
}
img,
video {
  width: 100rem;
  height: 100rem;
}
.exampel {
  width: 30rem;
  height: 30rem;
  background: url("./assets/images/example.webp");
}
.header {
  width: 40rem;
}
